@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #e9e9e9;
  color: white;
}

.row_object{
  @apply w-[250px] text-black;
}

.titulo_atuacao{
  @apply text-lg font-semibold;
}

.descricao_atuacao{
  @apply text-sm font-thin;
}

.overhero__row{
  @apply text-black font-semibold text-sm w-1/4 md:h-[150px]
}

.overhero__left{
  @apply w-[10px] h-[100px] bg-brand absolute left-0 top-[22%];
}

.pros__col{
  @apply flex flex-row gap-3 p-3
}

.itens__single{
  @apply md:w-[250px] md:h-[150px] h-[200px] flex flex-row shadow-xl text-black p-5 gap-2
}

.footer__contato p{
  @apply font-thin text-sm
}

.contato__info-left p{
  @apply text-sm font-thin
}

.contato__info-left h3{
  @apply text-sm font-bold text-brand
}